

.logo {
    background-image: url(./images/three-of-a-kindd.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 170px;
    height: 74px;
  }
  header {
    padding: 1rem 2rem;
    margin: 0 auto;
    max-width: 1700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }
  header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  header ul li {
    flex: 1 1 0px;
  }
  header ul a {
    --blue: #050533;
    font-size: 1.425rem;
    text-decoration: none;
    color: var(--blue);
  }
  
  